<% include partials/header %>
<link type="text/css" rel="stylesheet" href="/stylesheets/secondary.css"/>
<% include partials/navMenu %>


<div id="introQuestion" class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column">
      <h2>MENTORSHIP</h2>
      <p>
        Mentors play an important role in helping you learn about your and make decisions about your future.
      </p>
      <form class="ui form">
        <!-- Question one -->
        <div class="field">
          <p><strong>HAVE YOU EVER HAD A MENTOR?</strong></p>
          <button id="hideSelectorYes" type="button" name="Yes" class="ui primary button">
            YES
          </button>
          <button id="hideSelectorNo" type="button" name="No" class="ui primary button">
            NO
          </button>
        </div>
      </form>
    </div>

    <div class="eight wide column">
      <img src="images\networking.png" alt="">
    </div>
  </div>
</div>


<div id="mainQuestions" class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <h2>MENTORSHIP</h2>
      <form class="ui form" method="post" action="/mentorship">

        <!-- Question one -->
        <div class="field">
          <label>TELL US ABOUT YOUR MENTORSHIP EXPERIENCES TO DATE</label>
          <textarea name="fa"></textarea>
        </div>

        <!-- Question two -->
        <div class="field">
          <p><strong><span class="multiple-select">HOW IMPORTANT DO YOU THINK IT IS TO HAVE A MENTOR?</span></strong></p>
          <!-- Scale of 1-5 -->
          <div class="ui selection dropdown">
            <input type="hidden" name="fb">
            <i class="dropdown icon"></i>
            <div class="default text">Select One</div>
            <div class="menu">
              <div class="item" data-value="4">5 - Most Important</div>
              <div class="item" data-value="3">4</div>
              <div class="item" data-value="2">3</div>
              <div class="item" data-value="1">2</div>
              <div class="item" data-value="0">1 - Not important at all</div>
            </div>
          </div>
        </div>

        <!-- Question three -->
        <div class="field">
          <label>IN YOUR OPINION DESCRIBE THE QUALITIES A GOOD MENTOR POSSESSES</label>
          <textarea name="fc"></textarea>
        </div>

        <!-- Question four -->
        <div class="field">
          <label>HOW MANY MENTORS DO YOU PLAN ON HAVING BEFORE YOU GRADUATE?</label>
          <input name="fd" type="text">
        </div>

        <!-- Hidden value to store answer from "Have you ever done a study abroad qestion" -->
        <input id="yesNoStorage" type="hidden" name="yesNo">

        <button type="submit" class="ui primary button">
          Next
        </button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>
