</head>

<body>
<div class="ui secondary pointing menu">
        <a class="item">
            <img src="images\Small_Icon.svg">
            <p>REZZIO LEARNING</p>
        </a>
        <div class="right menu">
            <a class="item">
                DASHBOARD
            </a>
            <a class="item">
                ABOUT REZZIO
            </a>
            <a class="item">
              <img class="ui avatar image" src="https://pbs.twimg.com/profile_images/446566229210181632/2IeTff-V_400x400.jpeg">
              <span>Username</span>
            </a>
        </div>
</div>
