<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Rezzio: Learning made easy">
    <meta name="author" content="Mitch Brudy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="http://example.com/favicon.png">
    <title>REZZIO</title>
    <script src="lib/jquery-3.3.1.min.js" type="text/javascript" rel="script"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css" type="text/css">
    <link rel="stylesheet" href="assets/css/career-path.css" type="text/css">
    <!-- Start of Async Drift Code -->
    <script>
        "use strict";

        !function() {
            var t = window.driftt = window.drift = window.driftt || [];
            if (!t.init) {
                if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
                t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ],
                    t.factory = function(e) {
                        return function() {
                            var n = Array.prototype.slice.call(arguments);
                            return n.unshift(e), t.push(n), t;
                        };
                    }, t.methods.forEach(function(e) {
                    t[e] = t.factory(e);
                }), t.load = function(t) {
                    var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
                    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
                    var i = document.getElementsByTagName("script")[0];
                    i.parentNode.insertBefore(o, i);
                };
            }
        }();
        drift.SNIPPET_VERSION = '0.3.1';
        drift.load('g27in3s85a48');
    </script>
    <!-- End of Async Drift Code -->
</head>
<body>
<div class="ui secondary pointing menu">
    <a class="item">
        <img src="assets/img/Small_Icon.svg">
        <p>REZZIO LEARNING</p>
    </a>
    <div class="right menu">
        <a class="item">
            DASHBOARD
        </a>
        <a class="item">
            ABOUT REZZIO
        </a>
        <a class="item">
            CREATE PROFILE
        </a>
    </div>
</div>

<div class="hero">
    <div class="content-wrapper">
        <div class="ui grid">
            <div class="eight wide column center">
                <h1>CHOOSE YOUR PATH</h1>
            </div>
            <div class="eight wide column center">
                <h1>STEP #2</h1>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper center">
    <div class="ui grid">
        <div class="row">
            <div class="path-container">
                <p> ENTREPRENEURSHIP </p>
            </div>
            <div class="path-container">
                <p> GAP YEAR </p>
            </div>
            <div class="path-container">
                <p> MASTERS / DOCTORATE </p>
            </div>
            <div class="path-container">
                <p> LAW SCHOOL </p>
            </div>
        </div>
        <div class="row">
            <div class="path-container">
                <p> PHD </p>
            </div>
            <div class="path-container">
                <p> MILITARY </p>
            </div>
            <div class="path-container">
                <p> MEDICAL SCHOOL </p>
            </div>
            <div class="path-container">
                <p> CORPORATE AMERICA </p>
            </div>
        </div>
        <div class="row">
            <button id="careerButton" class="ui primary button">
                <a href="questionnare.html">NEXT SECTION</a>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript" rel="script" src="assets/js/main.js"></script>
</body>
</html>