<% include partials/header %>
<link type="text/css" rel="stylesheet" href="/stylesheets/secondary.css"/>
<% include partials/navMenu %>

<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <h2>AWARENESS</h2>
      <form  action="/awareness" class="ui form" method="post">
        <!-- Question one -->
        <p><strong>WAS THIS UNIVERSITY YOUR FIRST CHOICE?</strong></p>
        <div class="field">
          <div class="ui selection dropdown" id="ca">
              <input type="hidden" name="ca">
              <i class="dropdown icon"></i>
              <div class="default text">Yes / No</div>
              <div class="menu">
                  <div class="item" data-value="Yes">Yes</div>
                  <div class="item" data-value="No">No</div>
              </div>
          </div>
        </div>
        <!-- Question two -->
        <div class="field">
          <label>WHAT WAS THE DEFINING FACTOR IN YOUR DECISION TO ATTEND THIS UNIVERSITY?</label>
          <textarea id="cb"></textarea>
        </div>

        <!-- Question three -->
        <div class="field">
          <p><strong>DID ANY OF THESE FACTORS INLFUENCE YOUR DECISION TO ATTEND THIS UNIVERSITY?</strong></p>
          <div class="ui selection dropdown" id="cc">
            <input type="hidden" name="cc">
            <i class="dropdown icon"></i>
            <div class="default text">Resources</div>
            <div class="menu">
              <div class="item" data-value="6">Other</div>
              <div class="item" data-value="5">Affiliation</div>
              <div class="item" data-value="4">University Support</div>
              <div class="item" data-value="3">Finances</div>
              <div class="item" data-value="2">Location</div>
              <div class="item" data-value="1">Sports</div>
              <div class="item" data-value="0">Specific Program</div>
            </div>
          </div>
        </div>

      <!-- Question four -->
      <div class="field">
        <label>WHAT IS ONE RESOURCE YOUR WISH YOUR COLLEGE WOULD PROVIDE TO AID YOUR EDUCATION?</label>
        <textarea id="cd" name="cd"></textarea>
      </div>

        <!-- Question five -->
        <div class="field">
          <p><strong>WHAT DO YOU WISH THE SCHOOL HAD THAT IT DOES NOT PROVIDE?</strong></p>
          <div class="ui selection dropdown" id="ce">
            <input type="hidden" name="ce">
            <i class="dropdown icon"></i>
            <div class="default text">Resources</div>
            <div class="menu">
              <div class="item" data-value="6">Other</div>
              <div class="item" data-value="5">Affiliation</div>
              <div class="item" data-value="4">University Support</div>
              <div class="item" data-value="3">Finances</div>
              <div class="item" data-value="2">Location</div>
              <div class="item" data-value="1">Sports</div>
              <div class="item" data-value="0">Specific Program</div>
            </div>
          </div>
        </div>

        <!-- Question six -->
        <div class="field">
          <p><strong>MY FAMILY PLAYED A ROLE IN MY DECISION TO ATTEND THIS UNIVERSITY</strong></p>
          <div class="ui selection dropdown" id="cf">
            <input type="hidden" name="cf">
            <i class="dropdown icon"></i>
            <div class="default text">Resources</div>
            <div class="menu" >
              <div class="item" data-value="3">Neither</div>
              <div class="item" data-value="2">Both</div>
              <div class="item" data-value="1">They supported my decision</div>
              <div class="item" data-value="0">They influenced my decision</div>
            </div>
          </div>
        </div>
        <button type="submit" name='submit' class='ui primary button'>
            Next
        </button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>
