<% include partials/header %>

<% include partials/navMenu %>

<form action="/careerpath" method="post">
<div class="hero">
  <div class="content-wrapper">
    <div class="ui grid">
      <div class="eight wide column center">
        <h1>CHOOSE YOUR PATH</h1>
      </div>
      <div class="eight wide column center">
        <h1>STEP #2</h1>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper center">
  <div class="ui grid">
    <div class="row">
      <div class="path-container">
        <p> ENTREPRENEURSHIP </p>
      </div>
      <div class="path-container">
        <p> GAP YEAR </p>
      </div>
      <div class="path-container">
        <p> MASTERS / DOCTORATE </p>
      </div>
      <div class="path-container">
        <p> LAW SCHOOL </p>
      </div>
    </div>

    <div class="row">
      <div class="path-container">
        <p> PHD </p>
      </div>
      <div class="path-container">
        <p> MILITARY </p>
      </div>
      <div class="path-container">
        <p> MEDICAL SCHOOL </p>
      </div>
      <div class="path-container">
        <p> CORPORATE AMERICA </p>
      </div>
    </div>

    <div class="row">
      <button id="careerButton" class="ui primary button" method="get">
        <a href="/questionnare">NEXT SECTION</a>
      </button>
    </div>
  </div>
</div>
</form>

<% include partials/footer %>
