<% include partials/header %>

<% include partials/navMenu %>

<div class="ui container center">
  <h2>
    CAREER AWARENESS
  </h2>
  <div class="ui eight column centered grid">
    <form class="ui form">
      <div class="field">
        <label>HAVE YOU TAKEN STEPS TO FORMALIZE YOUR CAREER?</label>
        <textarea></textarea>
      </div>
      <div class="field">
        <label>HOW SUPPORTIVE IS YOUR FAMILY IN REGARD TO YOUR CAREER PATH?</label>
        <textarea></textarea>
      </div>
      <div class="field">
        <label>HOW HAVE YOU FAILED IN THE PAST AND HOW DID YOU OVERCOME THAT FAILURE?</label>
        <textarea></textarea>
      </div>
      <button class="ui primary button next">
          <a href="career_awareness.html">NEXT</a>
      </button>

<% include partials/footer %>
