<% include partials/header %>

<% include partials/navMenu %>

<div class="content-wrapper introQuestion">
    <div class="ui grid">
        <div class="eight wide column center">
          <h2>EXPOSURE</h2>
            <p>
              We want to learn more about your experience with study abroad programs and active service trips.
            </p>
            <form class="ui form">
              <!-- Question one -->
              <div class="field">
                <p>HAVE YOU EVER HAD A MENTOR?</p>
                <div class="buttonClassLeft light-blue">
                  <a href="exposure-d.html" id="ga">YES</a>
                </div>
                <div class="buttonClassRight light-blue">
                  <a href="exposure-d.html" id="gb">NO</a>
                </div>
              </div>
        </div>
        <div class="eight wide column center">
            <img src="assets\img\Executive Menber.png" alt="">
        </div>
    </div>
</div>

<div class="ui container center mainQuestions">
  <h2>
    EXPOSURE
  </h2>
  <div class="ui eight column centered grid">
    <form class="ui form">
      <!-- Question one -->
      <div class="field">
        <p><span class="multiple-select">IT IS IMPORTANT TO BE OPEN TO DIVERSITY IN ORDER TO SUCCEED AS AN INDIVIDUAL AND PROFESSIONALY</span></p>
        <!-- Scale of 1-5 -->
        <div class="ui selection dropdown">
          <input type="hidden" name="ha">
          <i class="dropdown icon"></i>
          <div class="default text">Select One</div>
          <div class="menu">
            <div class="item" data-value="4">5 - Most Important</div>
            <div class="item" data-value="3">4</div>
            <div class="item" data-value="2">3</div>
            <div class="item" data-value="1">2</div>
            <div class="item" data-value="0">1 - Not important at all</div>
          </div>
        </div>
      </div>
      <!-- Question two -->
      <div class="field">
        <p><span class="multiple-select">I AM INTERESTED IN PARTICIPATING IN THE FOLLOWING DURING MY COLLEGE EXPERIENCE</span></p>
        <!-- Study abroad, active service trip, both, neither -->
        <div class="ui selection dropdown">
          <input type="hidden" name="hb">
          <i class="dropdown icon"></i>
          <div class="default text">Select One</div>
          <div class="menu">
            <div class="item" data-value="3">Study Abroad</div>
            <div class="item" data-value="2">Active Service Trip</div>
            <div class="item" data-value="1">Both</div>
            <div class="item" data-value="0">Neither</div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="ui four column centered grid">
    <div class="buttonClass light-blue moveDown">
      <a href="/internship">READY TO BEGIN?</a>
    </div>
  </div>
</div>

<% include partials/footer %>
