<% include partials/header %>

<% include partials/navMenu %>

<div class="ui container center">
  <h2>
    CAREER AWARENESS
  </h2>
  <div class="ui eight column centered grid">
    <form action="/careerawareness" class="ui form" method="post">
      <div class="field">
        <label>HAVE YOU TAKEN STEPS TO FORMALIZE YOUR CAREER?</label>
        <textarea name="ca1"></textarea>
      </div>
      <div class="field">
        <label>HOW SUPPORTIVE IS YOUR FAMILY IN REGARD TO YOUR CAREER PATH?</label>
        <textarea name="ca2"></textarea>
      </div>
      <div class="field">
        <label>HOW HAVE YOU FAILED IN THE PAST AND HOW DID YOU OVERCOME THAT FAILURE?</label>
        <textarea name="ca3"></textarea>
      </div>
      <button class="ui primary button next" type="submit">
          NEXT
      </button>
      </form>

<% include partials/footer %>
