<% include partials/header %>
<link type="text/css" rel="stylesheet" href="/stylesheets/secondary.css"/>
<% include partials/navMenu %>

<div id="introQuestion" class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column">
      <h2>INVOLVEMENT</h2>
      <p>We want to learn more about your involvement in extra curricularactivities.</p>
      <form class="ui form">
        <!-- Question one -->
        <div class="field">
          <p>HAVE YOU EVER HAD A MENTOR?</p>
          <button id="hideSelectorYes" type="button" name="Yes" class="ui primary button">
            YES
          </button>
          <button id="hideSelectorNo" type="button" name="No" class="ui primary button">
            NO
          </button>
        </div>
      </form>
    </div>

    <div class="eight wide column">
      <img src="images\club.png" alt="">
    </div>
  </div>
</div>

<div id="mainQuestions" class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <h2>INVOLVEMENT</h2>
      <form class="ui form" action="/involvement" method="post">
        <!-- Question one -->
        <div class="field">
          <p><span class="multiple-select">WERE YOU PART OF AN AFTER-SCHOOL ACTIVITY IN HIGH SCHOOL?</span></p>
          <!-- Yes / No -->
          <div class="ui selection dropdown">
            <input type="hidden" name="ia">
            <i class="dropdown icon"></i>
            <div class="default text">Select One</div>
            <div class="menu">
              <div class="item" data-value="Yes">Yes</div>
              <div class="item" data-value="No">No</div>
            </div>
          </div>
        </div>

        <!-- Question TWO -->
        <div class="field">
          <label>
            HOW MANY ON/OFF-CAMPUS CAREER-ORIENTED PROJECTS, VOLUNTEER SERVICE, SPORTS TEAMS, ETC ORGANIZATIONS ARE YOU A PART OF AT YOUR UNIVERISTY?
          </label>
          <input name="ib" type="text">
        </div>

        <!-- Question THREE -->
        <div class="field">
          <p>
            <span class="multiple-select">
              I PLAN ON BECOMMING PART OF MORE ON-CAMPUS, COMMUNITY, OR CAREER RELATED CLUBS / ORGANIZATIONS AT MY UNIVERSITY
            </span>
          </p>
          <!-- Yes / No -->
          <div class="ui selection dropdown">
            <input type="hidden" name="ic">
            <i class="dropdown icon"></i>
            <div class="default text">Select One</div>
            <div class="menu">
              <div class="item" data-value="Yes">Yes</div>
              <div class="item" data-value="No">No</div>
            </div>
          </div>
        </div>

        <!-- Question FOUR -->
        <div class="field">
          <p><span class="multiple-select">WHAT TYPE OF CLUB/ORGANIZATION INTERESTS YOU, CHOOSE 3</span></p>
            <!-- Passion, Monetery Value, Familial Obligation, Familial Motivation, Other -->
          <select name="id" multiple="" class="ui fluid dropdown">
            <option value="">Select 3</option>
            <option value="Academic">Academic</option>
            <option value="Com Serv">Community Service</option>
            <option value="Cultural">Cultural & Identity</option>
            <option value="Environmental">Environmental</option>
            <option value="Governance">Governance</option>
            <option value="Performing">Performing & Visual Arts</option>
            <option value="Politics">Politics & Activism</option>
            <option value="Media">Publications & Media</option>
            <option value="Sports">Recreation & Sports</option>
            <option value="Religious">Religious & Spiritual Groups</option>
            <option value="Social">Social & Special Interest</option>
          </select>
        </div>

        <button type="submit" class="ui primary button">
          READY TO BEGIN?
        </button>
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>
