<% include partials/header %>

<% include partials/navMenu %>

<div class="ui container center">
  <h2>AWARENESS</h2>
  <div class="ui eight column centered grid">
    <form class="ui form">

      <!-- Question one -->
      <p class="questionHeader">WAS THIS UNIVERSITY YOUR FIRST CHOICE?</p>
      <div class="field">
        <div class="ui selection dropdown" id="ca">
            <input type="hidden" name="ca">
            <i class="dropdown icon"></i>
            <div class="default text">Yes / No</div>
            <div class="menu">
                <div class="item" data-value="Yes">Yes</div>
                <div class="item" data-value="No">No</div>
            </div>
        </div>
      </div>

      <!-- Question two -->
      <div class="field">
        <label>WHAT WAS THE DEFINING FACTOR IN YOUR DECISION TO ATTEND THIS UNIVERSITY?</label>
        <textarea id="cb"></textarea>
      </div>

      <!-- Question three -->
      <div class="field">
        <p class="questionHeader">DID ANY OF THESE FACTORS INLFUENCE YOUR DECISION TO ATTEND THIS UNIVERSITY?</p>
        <div class="ui selection dropdown" id="cc">
          <input type="hidden" name="cc">
          <i class="dropdown icon"></i>
          <div class="default text">Resources</div>
          <div class="menu">
            <div class="item" data-value="6">Other</div>
            <div class="item" data-value="5">Affiliation</div>
            <div class="item" data-value="4">University Support</div>
            <div class="item" data-value="3">Finances</div>
            <div class="item" data-value="2">Location</div>
            <div class="item" data-value="1">Sports</div>
            <div class="item" data-value="0">Specific Program</div>
          </div>
        </div>
      </div>

      <!-- Question four -->
      <div class="field">
        <label>WHAT IS ONE RESOURCE YOUR WISH YOUR COLLEGE WOULD PROVIDE TO AID YOUR EDUCATION?</label>
        <textarea id="cd"></textarea>
      </div>

      <!-- Question five -->
      <div class="field">
        <p class="questionHeader">WHAT DO YOU WISH THE SCHOOL HAD THAT IT DOES NOT PROVIDE?</p>
        <div class="ui selection dropdown" id="ce">
          <input type="hidden" name="ce">
          <i class="dropdown icon"></i>
          <div class="default text">Resources</div>
          <div class="menu">
            <div class="item" data-value="6">Other</div>
            <div class="item" data-value="5">Affiliation</div>
            <div class="item" data-value="4">University Support</div>
            <div class="item" data-value="3">Finances</div>
            <div class="item" data-value="2">Location</div>
            <div class="item" data-value="1">Sports</div>
            <div class="item" data-value="0">Specific Program</div>
          </div>
        </div>
      </div>

      <!-- Question six -->
      <div class="field">
        <p class="questionHeader">MY FAMILY PLAYED A ROLE IN MY DECISION TO ATTEND THIS UNIVERSITY</p>
        <div class="ui selection dropdown" id="cf">
          <input type="hidden" name="cf">
          <i class="dropdown icon"></i>
          <div class="default text">Resources</div>
          <div class="menu" >
            <div class="item" data-value="3">Neither</div>
            <div class="item" data-value="2">Both</div>
            <div class="item" data-value="1">They supported my decision</div>
            <div class="item" data-value="0">They influenced my decision</div>
          </div>
        </div>
      </div>
      <button type="button" name='submit' class='ui primary button'>
          Next
      </button>
    </form>
  </div>
</div>

<% include partials/footer %>
