<% include partials/header %>

<% include partials/navMenu %>

<div class="hero">
  <div class="content-wrapper">
    <div class="ui grid">
      <div class="eight wide column center">
        <h1>TELL US ABOUT YOURSELF</h1>
      </div>
      <div class="eight wide column center">
        <h1>STEP #1</h1>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <div class="ui form">
        <form class="" action="/about-you" method="POST">
          <!-- Question number one -->
          <div class="two fields">
            <div class="field">
              <input name="aa" type="text" placeholder="FIRST NAME">
            </div>
            <div class="field">
              <input name="ab" type="text" placeholder="LAST NAME">
            </div>
          </div>

          <!-- Question number two -->
          <div class="field">
            <div class="ui selection dropdown">
              <input name="ac" type="hidden" name="gender">
              <i class="dropdown icon"></i>
              <div class="default text">GENDER</div>
              <div class="menu">
                <div class="item" id="Male">Male</div>
                <div class="item" id=Female">Female</div>
              </div>
            </div>
          </div>

          <!-- Question number three -->
          <div class="field">
            <input name="ad" type="text" placeholder="EMAIL ADDRESS">
          </div>

          <div class="field">
            <div class="two fields">
              <!-- Question number four -->
              <div class="field">
                <input name="ae" type="text" placeholder="CURRENT MAJOR">
              </div>

              <!-- Question number five -->
              <div class="field">
                <input name="af" type="text" placeholder="CURRENT MINOR">
              </div>
            </div>
          </div>

          <!-- Question number six -->
          <div class="field">
            <input name="ag" type="text" placeholder="CURRENT GRADE">
          </div>

          <!-- Question number seven -->
          <div class="field">
            <input name="ah" type="text" placeholder="ANTICIPATED GRADUATION DATE">
          </div>

          <div class="row">
            <button class="ui primary button" type="submit" method="POST" action='/about-you'>
              Next
            </button>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>

<% include partials/footer %>
