<% include partials/header %>

<% include partials/navMenu %>

<div class="hero">
  <div class="content-wrapper">
    <h1 class=>WECOME TO REZZIO</h1>
  </div>
</div>

<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <h2>FIRST</h2>
      <hr>
      <p class="introCopy">
        Everyone on the REZZIO team wants to thank you for testing our program, your feedback will be integral to
        our success moving forward. Our mission today is to learn how we can best design our career path questions
        and user on-boarding process. Please keep two things in mind as you're going through our flow and filling
        out your profile: 1) we are still very early in our development so there may be some bugs. If you find any
        issues throughout your experience please let us know so we can address them and 2) as you progress, please
        note any confusing screens, questions, or steps throughout the process.
      </p>
    </div>
  </div>

  <div class="ui grid">
    <div class="eight wide column center">
      <h3>Create A Username / Password Below</h3>
      <form class="ui form" action="/" mathod='POST'>
        <div class="field">
          <input type="text" name="userName" placeholder="User Name">
        </div>
        <div class="field">
          <input type="text" name="password" placeholder="Password">
        </div>
        <div class="field">
        <button class="ui button primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>


<% include partials/footer %>
