<% include partials/header %>

<% include partials/navMenu %>
<div class="hero">
  <div class="content-wrapper">
    <div class="ui grid">
      <div class="eight wide column center">
        <h1>Login</h1>
      </div>

    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <div class="ui form">

        <form class="" action="/login" method="post">
        <div class="field">
          <input type="text" name="username" placeholder="username">
        </div>
        <div class="field">
          <input type="password" name="password" placeholder="password">
        </div>
        <div class="row">
          <button class="ui primary button" type="submit" name="button">Login!</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
