<% include partials/header %>

<% include partials/navMenu %>

<div class="hero">
    <div class="content-wrapper">
        <div class="ui grid">
            <div class="eight wide column center">
                <h1>FINISH CREATING YOUR PROFILE</h1>
            </div>
            <div class="eight wide column center">
                <h1>STEP #3</h1>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <h2>NEXT</h2>
    <hr>
    <div class="ui grid">
        <div class="eight wide column">
            <p>
                You will now be taken through guided questions that are designed to help you think about the progress
                you've made towards your life after college. Research shows that those who take an active role in
                planning for their future are 1 million times more likely to make tons of money after they graduate.
                So, answer our questions and start counting that paper. Also, if you have any questions throughout
                the process click the blue square in the lower right hand corner to be connected to one of our customer
                service representatives.
            </p>
        </div>
        <div class="eight wide column center">
            <button class="ui primary button">
                <a href="question_set_one_a.html">CONTINUE</a>
            </button>
        </div>
    </div>
</div>

<% include partials/footer %>
