<% include partials/header %>

<% include partials/navMenu %>

<div class="hero">
  <div class="content-wrapper">
    <h1 class=>WECOME TO REZZIO</h1>
  </div>
</div>

<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <h2>FIRST</h2>
      <hr>
      <p class="introCopy">
        Everyone on the REZZIO team wants to thank you for testing our program, your feedback will be integral to
        our success moving forward. Our mission today is to learn how we can best design our career path questions
        and user on-boarding process. Please keep two things in mind as you're going through our flow and filling
        out your profile: 1) we are still very early in our development so there may be some bugs. If you find any
        issues throughout your experience please let us know so we can address them and 2) as you progress, please
        note any confusing screens, questions, or steps throughout the process.
      </p>
    </div>
  </div>
</div>


<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <h3>Create A Username / Password Below</h3>
      <div class="ui form">
        <form class="ui form" action="/register" method="post">
          <div class="field">
            <input type="text" name="username" placeholder="username">
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="password">
          </div>

          <div class="field">
            <div class="ui selection dropdown" id="cc">
              <input type="hidden" name="secretQ">
              <i class="dropdown icon"></i>
              <div class="default text">Select a secret question.</div>
              <div class="menu">
                <div class="item" data-value="6">What was your childhood nickname?</div>
                <div class="item" data-value="5">In what city did you meet your spouse/significant other?</div>
                <div class="item" data-value="4">What is the name of your favorite childhood friend?</div>
                <div class="item" data-value="3">What street did you live on in third grade?</div>
                <div class="item" data-value="2">What school did you attend for sixth grade?</div>
                <div class="item" data-value="1">What was the name of your first stuffed animal?</div>
                <div class="item" data-value="0">In what city or town was your first job?</div>
              </div>
            </div>
          </div>

          <div class="field">
            <input type="text" name="secretA" placeholder="answer">
          </div>

          <div class="row">
            <button class="ui primary button" type="submit" name="button">
              Sign Up!
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
