<% include partials/header %>

<% include partials/navMenu %>
<div class="hero">
  <div class="content-wrapper">
    <div class="ui grid">
      <div class="eight wide column center">
        <h1>Reset Password</h1>
      </div>

    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <div class="ui form">

        <form class="" action="/resetPassword" method="post">
          <div class="field">
            <input type="text" name="uId" placeholder="User name">
          </div>

          <div class="field">
            <div class="ui selection dropdown" id="cc">
              <input type="hidden" name="secretQ">
              <i class="dropdown icon"></i>
              <div class="default text">Select your secret question.</div>
              <div class="menu">
                <div class="item" data-value="6">What was your childhood nickname?</div>
                <div class="item" data-value="5">In what city did you meet your spouse/significant other?</div>
                <div class="item" data-value="4">What is the name of your favorite childhood friend?</div>
                <div class="item" data-value="3">What street did you live on in third grade?</div>
                <div class="item" data-value="2">What school did you attend for sixth grade?</div>
                <div class="item" data-value="1">What was the name of your first stuffed animal?</div>
                <div class="item" data-value="0">In what city or town was your first job?</div>
              </div>
            </div>
          </div>

          <div class="field">
            <input type="text" name="sAnswer" placeholder="Answer">
          </div>

        <div class="field">
          <input type="password" name="newPassword" placeholder="New password">
        </div>

        <div class="field">
          <input type="password" name="comfirmPassword" placeholder="Confirm password">
        </div>

        <div class="row">
          <button class="ui primary button" type="submit" name="button">submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>
