<% include partials/header %>

<% include partials/navMenu %>
<div class="hero">
  <div class="content-wrapper">
    <div class="ui grid">
      <div class="eight wide column center">
        <h1>Reset Password</h1>
      </div>

    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="ui grid">
    <div class="eight wide column center">
      <div class="ui form">

        <form class="" action="/resetPassword" method="post">
          <div class="field">
            <input type="text" name="uId" placeholder="User name">
          </div>
        <div class="field">
          <input type="text" name="newPassword" placeholder="New password">
        </div>
        <div class="field">
          <input type="password" name="comfirmPassword" placeholder="Confirm password">
        </div>
        <div class="row">
          <button class="ui primary button" type="submit" name="button">submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
