<% include partials/header %>

<% include partials/navMenu %>

<div class="content-wrapper">
<div class="ui two column grid">
  <div class="row">


  <!-- <div class="ui one column grid"> -->
    <div class="column">
      <!-- <div class="ui segment">
        <img>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <img>
      </div> -->

      <div class="ui three stackable cards">
        <div class="ui card">
          <div class="image">
            <img src="">
          </div>
          <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>

        <!-- card 2 -->
        <div class="ui card">
          <div class="image">
            <img >
          </div>
          <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
        <!-- card 3 -->
        <div class="ui card">
          <div class="image">
            <img >
          </div>
          <div class="content">
            <a class="header">Kristy</a>
            <div class="meta">
              <span class="date">Joined in 2013</span>
            </div>
            <div class="description">
              Kristy is an art director living in New York.
            </div>
          </div>
          <div class="extra content">
            <a>
              <i class="user icon"></i>
              22 Friends
            </a>
          </div>
        </div>
      </div>
    </div>
  <!-- </div> -->

  <!-- <div class="ui four column grid"> -->
  <!-- <div class="ui grid"> -->


    <div class="right floated column">
      <div class="ui card ">
        <div class="image">
          <img >
        </div>
        <div class="content">
          <a class="header">Kristy</a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
          <div class="description">
            Kristy is an art director living in New York.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            22 Friends
          </a>
        </div>
      </div>
    </div>
    <!-- </div> -->
  <!-- </div> -->

</div>

</div>

</div>
