body{
    font-family: Corbel, sans-serif;
    color: rgb(67, 74, 86);
}

a{
    color: white;
    text-decoration: none;
}

h1{
    font-size: 60px;
    color: white;
}

h2, h2:first-child{
    font-size: 50px;
    margin-top: 50px;
}

hr{
    margin: 0 0 30px 0;
    width: 360px;
    background-color: rgb(67, 74, 86);
}

.ui.secondary.button{
  background-color: rgba(35, 47, 62, .85);
}

.ui.secondary.pointing.menu{
    padding: 0 5% 0 5%;
    margin: 0;
}

.green{
    background-color: rgba(118, 196, 174, .85);
}

.blue{
    background-color: rgba(35, 47, 62, .85);
}

.red{
    background-color: rgba(216, 108, 112, .85);
}

.light-blue{
    background-color: rgba(35, 169, 225, .85);
}

.center{
    text-align: center;
    margin-top: 3%;
}

.content-wrapper{
    width: 90%;
    margin-left: 5%;
    float: left;
}

.hero{
    height: 300px;
    background-image: url("rezzio_icon_5percent.svg");
    background-repeat: no-repeat;
    background-position-x: 10%;
    background-position-y: 50px;
    background-color: rgb(35, 47, 62);
    overflow: hidden;
    text-align: center;
    padding-top: 100px;
}

.avatar{
    color: white;
    margin: 3%;
    padding: 2.5% 2%;
    border-radius: 50%;
    border: .5px solid gray;
    text-align: center;
}

.buttonClass{
  font-weight: bold;
  width: 200px;
  height: 35px;
  padding-top: 5px;
  border-radius: 5px;
  margin: auto;
}

.buttonClassLeft{
  font-weight: bold;
  width: 44%;
  height: 35px;
  padding-top: 5px;
  border-radius: 5px;
  margin: auto;
  float: left;
}

.buttonClassRight{
  font-weight: bold;
  width: 44%;
  height: 35px;
  padding-top: 5px;
  border-radius: 5px;
  margin: auto;
  float: right;
}

.moveDown{
  margin-top: 100px;
  margin-bottom: 50px;
}
